<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Trang chủ</a></li>
                <li>Giỏ hàng</li>
            </ul>
            <h2>Giỏ hàng</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="container pt-5 pb-5">
    <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="cart-table table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Khoá học</th>
                        <th scope="col">Giá tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product-thumbnail">
                            <a routerLink="/chi-tiet-san-pham">
                                <img
                                    src="https://angular.envytheme.com/odemy-ng/assets/img/products/img1.jpg"
                                    alt="item"
                                />
                            </a>
                        </td>
                        <td class="product-name">
                            <a routerLink="/chi-tiet-san-pham"
                                >Python for Finance: Investment Fundamentals & Data Analytics</a
                            ><br />
                            <a routerLink="/chi-tiet-san-pham">By Nguyễn Minh Tuấn</a><br />
                            <div class="rating">
                                <span>4.0</span>&nbsp;
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>&nbsp;
                                <span>(40 rating)</span>
                            </div>
                            <div>
                                <ul class="detail-courses-cart">
                                    <li>35 giờ học</li>
                                    <li>28 bài học</li>
                                    <li>Thiết kế cơ khí</li>
                                </ul>
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="subtotal-amount">$250.00</span>
                            <a routerLink="/gio-hang" class="remove"><i class="bx bx-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-thumbnail">
                            <a routerLink="/chi-tiet-san-pham">
                                <img
                                    src="https://angular.envytheme.com/odemy-ng/assets/img/products/img2.jpg"
                                    alt="item"
                                />
                            </a>
                        </td>
                        <td class="product-name">
                            <a routerLink="/chi-tiet-san-pham"
                                >Python for Finance: Investment Fundamentals & Data Analytics</a
                            ><br />
                            <a routerLink="/chi-tiet-san-pham">By Nguyễn Minh Tuấn</a><br />
                            <div class="rating">
                                <span>4.0</span>&nbsp;
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>&nbsp;
                                <span>(40 rating)</span>
                            </div>
                            <div>
                                <ul class="detail-courses-cart">
                                    <li>35 giờ học</li>
                                    <li>28 bài học</li>
                                    <li>Thiết kế cơ khí</li>
                                </ul>
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="subtotal-amount">$200.00</span>
                            <a routerLink="/gio-hang" class="remove"><i class="bx bx-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-thumbnail">
                            <a routerLink="/chi-tiet-san-pham">
                                <img
                                    src="https://angular.envytheme.com/odemy-ng/assets/img/products/img3.jpg"
                                    alt="item"
                                />
                            </a>
                        </td>
                        <td class="product-name">
                            <a routerLink="/chi-tiet-san-pham"
                                >Python for Finance: Investment Fundamentals & Data Analytics</a
                            ><br />
                            <a routerLink="/chi-tiet-san-pham">By Nguyễn Minh Tuấn</a><br />
                            <div class="rating">
                                <span>4.0</span>&nbsp;
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>&nbsp;
                                <span>(40 rating)</span>
                            </div>
                            <div>
                                <ul class="detail-courses-cart">
                                    <li>35 giờ học</li>
                                    <li>28 bài học</li>
                                    <li>Thiết kế cơ khí</li>
                                </ul>
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="subtotal-amount">$200.00</span>
                            <a routerLink="/gio-hang" class="remove"><i class="bx bx-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-thumbnail">
                            <a routerLink="/chi-tiet-san-pham">
                                <img
                                    src="https://angular.envytheme.com/odemy-ng/assets/img/products/img4.jpg"
                                    alt="item"
                                />
                            </a>
                        </td>
                        <td class="product-name">
                            <a routerLink="/chi-tiet-san-pham"
                                >Python for Finance: Investment Fundamentals & Data Analytics</a
                            ><br />
                            <a routerLink="/chi-tiet-san-pham">By Nguyễn Minh Tuấn</a><br />
                            <div class="rating">
                                <span>4.0</span>&nbsp;
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>&nbsp;
                                <span>(40 rating)</span>
                            </div>
                            <div>
                                <ul class="detail-courses-cart">
                                    <li>35 giờ học</li>
                                    <li>28 bài học</li>
                                    <li>Thiết kế cơ khí</li>
                                </ul>
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="subtotal-amount">$150.00</span>
                            <a routerLink="/gio-hang" class="remove"><i class="bx bx-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="cart-totals">
            <h3>Tổng đơn hàng</h3>
            <ul>
                <li>Tổng đơn hàng <span>$800.00</span></li>
                <li>Giảm giá <span>$30.00</span></li>
                <li>Tổng cộng <span>$830.00</span></li>
            </ul>

            <div class="shopping-coupon-code">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Nhập giảm giá"
                    name="coupon-code"
                    id="coupon-code"
                />
                <button type="submit">Nhập giảm giá</button>
            </div>
            <a routerLink="/thanh-toan" class="default-btn with-btn-login"
                ><i class="flaticon-shopping-cart"></i>Tiếp tục thanh toán<span></span
            ></a>
        </div>
    </div>
</div>
