<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Cart</li>
            </ul>
            <h2>Cart</h2>
        </div>
    </div>
    <div class="shape9"><img src="assets/img/shape8.svg" alt="image" /></div>
</div>

<div class="header-cart-payment" *ngIf="!isMemberAccount">
    <div class="user-actions">
        <i class="bx bx-log-in"></i>
        <span>Are you a member? <a routerLink="/login">Click for login</a> <a routerLink="/register">/ Register for continues</a></span>
    </div>
</div>
<div class="container pt-5 pb-5">

    <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="cart-table table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Course</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartServices?.courseItems">
                        <td class="product-thumbnail">
                            <a routerLink="/details-products">
                                <img src="{{ item?.pictureUrl }}" alt="item" />
                            </a>
                        </td>
                        <td class="product-name">
                            <a routerLink="/details-products">{{ item?.title }}</a><br />
                            <a routerLink="/details-products">{{ item?.author?.name }}</a><br />
                            <div class="rating">
                                <span>4.0</span>&nbsp;
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>
                                <span class="bx bxs-star checked"></span>&nbsp;
                                <span>({{ item?.totalVoteOfCourse }} rating)</span>
                            </div>
                            <div>
                                <ul class="detail-courses-cart">
                                    <li>{{ item?.duration }} giờ học</li>
                                    <li>{{ item?.totalChapter }} bài học</li>
                                    <li>Thiết kế cơ khí</li>
                                </ul>
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="subtotal-amount">{{item.isDiscount == true ? (item?.priceOfDiscount | currency: 'VND':'symbol':'1.0-0') : (item.priceOfCourse | currency: 'VND':'symbol':'1.0-0') }}</span>
                            <a href="javascript:void(0)" (click)="removeItemOnCart(item)" class="remove"><i class="bx bx-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="cart-totals">
            <h3>Infomation Of Order</h3>
            <ul>
                <li>Total bill Order <span>{{totalValue | currency: 'VND':'symbol':'1.0-0'}}</span></li>
                <li>Discount <span></span></li>
                <li>Total Amount <span>{{totalValue | currency: 'VND':'symbol':'1.0-0'}}</span></li>
            </ul>

            <div class="shopping-coupon-code">
                <input type="text" class="form-control" placeholder="Promotion Code" name="coupon-code" id="coupon-code" />
                <button type="submit">Promotion code</button>
            </div>
            <a href="javascript:void(0)" class="default-btn with-btn-login" (click)="goToPaymentForCourse()"><i class="flaticon-shopping-cart"></i>Continues to payment<span></span></a>
        </div>
    </div>
</div>