.privacy-policy-content {
    img {
        border-radius: 5px;
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    h3 {
        margin: {
            bottom: 15px;
            top: 25px;
        };
        font: {
            size: 22px;
            weight: 800;
        };
    }
    .blockquote, blockquote {
        margin-bottom: 30px;
        background-color: #e6f2f5;
        text-align: start !important;
        padding: 25px !important;

        p {
            margin-bottom: 0;
            line-height: 1.8;
            font: {
                size: var(--fontSize) !important;
                weight: normal;
            };
        }
        &::after {
            display: none;
        }
        &::before {
            display: none;
        }
    }
    ol, ul {
        margin-top: 20px;

        li {
            margin-bottom: 10px;
            color: var(--optionalColor);
            font-size: var(--fontSize);
            line-height: 1.8;
        }
    }
}

@media only screen and (max-width: 767px) {

    .privacy-policy-content {
        img {
            margin-bottom: 25px;
        }
        h3 {
            margin-bottom: 12px;
            font-size: 18px;
        }
        ul, ol {
            li {
                font-size: 14.5px;
            }
        }
        .blockquote, blockquote {
            p {
                font-size: 15px !important;
            }
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .privacy-policy-content {
        h3 {
            font-size: 19px;
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .privacy-policy-content {
        h3 {
            font-size: 20px;
        }
    }

}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}