<div class="modal-header">
    <h4 class="modal-title">Đánh giá của học viên</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="display-comment-star">
        <ngx-stars
            [readonly]="false"
            [size]="3"
            [color]="'#ffd000'"
            [maxStars]="5"
            (ratingOutput)="onRatingSet($event)"
        ></ngx-stars>
        <br />
        <span style="font-weight: bold; font-size: 20px; text-align: center"
            >Bạn đang đánh giá {{ ratingDisplay }} trên 5</span
        >
    </div>
    <div class="pt-4 col-lg-12 col-md-12">
        <div class="form-group">
            <textarea
                name="notes"
                id="notes"
                cols="30"
                rows="5"
                placeholder="Đánh giá khoá học"
                class="form-control"
            >{{reviewOfUser}}</textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="default-btn" (click)="activeModal.close('Close click')">Lưu đánh giá</button>
</div>
