<div class="error-area ptb-100">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="error-content">
                  <img src="assets/img/send_email_success.png" alt="image">
                  <h4>Infomation : Account registration successful</h4>
                  <h6>We have sent a confirmation email to the email account tuan.nguyenminh2507@gmail.com</h6>
                  <h6>Please check your email or look in your spam folder if you haven't received the email</h6>
                  <h6>If you haven't received the email, please click the resend button to receive it again!</h6>
                  <div class="btn-box">
                      <a routerLink="/" class="default-btn"><i class="flaticon-share"></i>Resend<span></span></a>
                      <a routerLink="/" class="default-btn"><i class="flaticon-home"></i>Home<span></span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>