<div class="error-area ptb-100">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="error-content">
                  <img src="assets/img/send_email_success.png" alt="image">
                  <h4>Thông báo : Đăng ký tài khoản thành công</h4>
                  <h6>Chúng tôi đã gửi email xác nhận đến tài khoản email tuan.nguyenminh2507@gmail.com</h6>
                  <h6>Vui lòng kiểm tra email hoặc kiểm tra trong thư mục spam email nếu không nhận được email</h6>
                  <h6>Nếu không nhận được email, vui lòng click nút gửi lại để nhận lại email!</h6>
                  <div class="btn-box">
                      <a routerLink="/" class="default-btn"><i class="flaticon-share"></i>Gửi lại<span></span></a>
                      <a routerLink="/" class="default-btn"><i class="flaticon-home"></i>Trang chủ<span></span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>