<div class="main-banner" *ngFor="let Image of bgImage;" style="background-image: url({{Image.img}});">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-content">
                    <h1>Nhà cung cấp dịch vụ đào tạo từ xa hàng đầu thế giới</h1>
                    <p>Các cơ hội học tập linh hoạt, dễ tiếp cận có thể mang lại sự thay đổi đáng kể trong cách các cá nhân thích học tập! Odemy có thể giúp bạn tận hưởng vẻ đẹp của Học tập trực tuyến!</p>
                    <a routerLink="/register" class="default-btn"><i class="flaticon-user"></i>Đăng ký miễn phí<span></span></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-courses-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="courses-image">
                                    <a routerLink="/detail-courses" class="d-block image">
                                        <img src="https://angular.envytheme.com/odemy-ng/assets/img/courses/img4.jpg" alt="image">
                                    </a>
                                    <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                                    <div class="price shadow">$39</div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="https://angular.envytheme.com/odemy-ng/assets/img/user3.jpg" class="rounded-circle" alt="image">
                                        <span>Alex Morgan</span>
                                    </div>
                                    <h3><a routerLink="/detail-courses">Python for Finance: Fundamentals & Data Analytics</a></h3>
                                    <p>Lorem ipsum dolor sit amet, constetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                    <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                                        <li><i class='flaticon-agenda'></i> 15 Lessons</li>
                                        <li><i class='flaticon-people'></i> 145 Students</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single-courses-box">
                                <div class="courses-image">
                                    <a routerLink="/detail-courses" class="d-block image">
                                        <img src="https://angular.envytheme.com/odemy-ng/assets/img/courses/img5.jpg" alt="image">
                                    </a>
                                    <a routerLink="/" class="fav"><i class="flaticon-heart"></i></a>
                                    <div class="price shadow">$49</div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <img src="https://angular.envytheme.com/odemy-ng/assets/img/user3.jpg" class="rounded-circle" alt="image">
                                        <span>Sarah Taylor</span>
                                    </div>
                                    <h3><a routerLink="/detail-courses">Machine Learning A-Z™: Hands-On Python & R In Data Science</a></h3>
                                    <p>Lorem ipsum dolor sit amet, constetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                    <ul class="courses-box-footer d-flex justify-content-between align-items-center">
                                        <li><i class='flaticon-agenda'></i> 20 Lessons</li>
                                        <li><i class='flaticon-people'></i> 100 Students</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner-shape1"><img src="https://angular.envytheme.com/odemy-ng/assets/img/banner-shape1.png" alt="image"></div>
                    <div class="banner-shape2"><img src="https://angular.envytheme.com/odemy-ng/assets/img/banner-shape2.png" alt="image"></div>
                    <div class="banner-shape3"><img src="https://angular.envytheme.com/odemy-ng/assets/img/banner-shape3.png" alt="image"></div>
                </div>
            </div>
        </div>
    </div>
</div>