<div class="video-box">
    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
        <a
            data-lg-size="1280-720"
            data-src="https://www.youtube.com/watch?v=PWvPbGWVRrU"
            data-sub-html="<p>Watch Video</p>"
            class="d-block"
        >
            <div class="image">
                <img src="https://angular.envytheme.com/odemy-ng/assets/img/video-img1.jpg" class="shadow" alt="image">
            </div>
            <div class="video-btn popup-youtube">
                <i class="flaticon-play"></i>
            </div>
        </a>
    </lightgallery>
    <div class="shape10"><img src="https://angular.envytheme.com/odemy-ng/assets/img/shape9.png" alt="image"></div>
</div>