<!-- Page Banner -->
<div class="inner-banner inner-bg2">
    <div class="container">
        <div class="inner-title text-center">
            <h1>Cập nhật thông tin</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Trang chủ
                    </a>
                </li>
                <li>
                    Cập nhật tài khoản
                </li>
            </ul>
            <div class="inner-shape">
                <img src="assets/images/inner-banner/inner-shape1.png" alt="shape">
                <img src="assets/images/inner-banner/inner-shape2.png" alt="shape">
            </div>
        </div>
    </div>
</div>


<app-hdnx-loading [show]="isLoading">
    <div class="create-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-12">
                    <div class="author-profile-sidebar">
                        <div class="author-user">
                            <img src="https://angular.hibootstrap.com/futo/assets/images/author/author6.jpg" alt="author">
                            <i class="bx bx-check-shield"></i>
                        </div>
                        <h3>
                            {{informationOfUser.value?.name}}
                        </h3>
                        <span>{{informationOfUser.value?.email}}</span>
                        <p>{{informationOfUser.value?.phone}}</p>
                        <div class="sp-title">{{informationOfUser.value?.id}} <i class="ri-folders-line"></i></div>
                        <ul class="social-link">
                            <li>
                                <a href="https://www.facebook.com/" target="_blank" class="facebook">
                                    <i class='bx bxl-facebook-circle'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank" class="twitter">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank" class="linkedin">
                                    <i class='bx bxl-linkedin-square'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank" class="instagram">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-9 col-lg-8 col-md-12">
                    <div class="create-form">
                        <div class="section-title">
                            <h2>Cập nhật thông tin</h2>
                        </div>
                        <form [formGroup]="informationOfUser">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <label>Tải hình ảnh avatar</label>
                                        <div class="profileButton">
                                            <input class="profileButton-input" type="file" name="attachments[]" accept="image/*, application/pdf" id="upload" multiple />
                                            <label class="profileButton-button ripple-effect" for="upload">e. g. Hình ảnh (định dạng JPG, PNG)</label>
                                            <span class="profileButton-file-name"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <label>Họ và Tên</label>
                                        <input type="text" name="name" id="name" class="form-control" formControlName="name" placeholder="Nhập thông tin tên">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" name="name" id="name" class="form-control" formControlName="email" placeholder="Thông tin Email">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="form-group">
                                        <label>Mật khẩu</label>
                                        <input type="text" name="name" id="name" class="form-control" formControlName="password" placeholder="Thông tin mật khẩu">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" formControlName="phone" placeholder="Thông tin số điện thoại">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label>Giới tính</label>
                                        <select class="form-select" id="product-general-input" formControlName="general">
                                            <option *ngFor="let item of generals" [value]="item.id">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <button type="button" (click)="updateStudent()" class="default-btn border-radius-5 with-btn-login">Cập nhật thông tin</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>


            </div>
        </div>
    </div>
</app-hdnx-loading>
<!-- Create -->