<!-- Page Banner -->
<div class="inner-banner inner-bg2">
  <div class="container">
      <div class="inner-title text-center">
          <h1>Cập nhật thông tin</h1>
          <ul>
              <li>
                  <a routerLink="/">
                      Trang chủ
                  </a>
              </li>
              <li>
                  Cập nhật tài khoản
              </li>
          </ul>
          <div class="inner-shape">
              <img src="assets/images/inner-banner/inner-shape1.png" alt="shape">
              <img src="assets/images/inner-banner/inner-shape2.png" alt="shape">
          </div>
      </div>
  </div>
</div>

<!-- Create -->
<div class="create-area ptb-100">
  <div class="container">
      <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-12">
              <div class="author-profile-sidebar">
                  <div class="author-user">
                      <img src="https://angular.hibootstrap.com/futo/assets/images/author/author6.jpg" alt="author">
                      <i class="bx bx-check-shield"></i>
                  </div>
                  <h3>
                      Olivia Jenar
                  </h3>
                  <span>@Jenar</span>
                  <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                  <div class="sp-title">0x76669f...a0e9ca52 <i class="ri-folders-line"></i></div>
                  <div class="author-content">
                      <div class="content-left">
                          <span>Followers</span>
                          <h3>2941</h3>
                      </div>
                      <div class="content-right">
                          <button type="submit">Follow</button>
                      </div>
                  </div>
                  <ul class="social-link">
                    <li>
                        <a
                            href="https://www.facebook.com/"
                            target="_blank"
                            class="facebook"
                        >
                        <i class='bx bxl-facebook-circle'></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://twitter.com/"
                            target="_blank"
                            class="twitter"
                        >
                        <i class='bx bxl-twitter' ></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.linkedin.com/"
                            target="_blank"
                            class="linkedin"
                        >
                        <i class='bx bxl-linkedin-square' ></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/"
                            target="_blank"
                            class="instagram"
                        >
                            <i class='bx bxl-instagram' ></i>
                        </a>
                    </li>
                </ul>
              </div>
          </div>
          <div class="col-xl-9 col-lg-8 col-md-12">
              <div class="create-form">
                  <div class="section-title">
                      <h2>Cập nhật thông tin</h2>
                  </div>
                  <form>
                      <div class="row">
                          <div class="col-lg-12 col-md-6">
                              <div class="form-group">
                                  <label>Upload Avatar</label>
                                  <div class="profileButton">
                                      <input class="profileButton-input" type="file"  name="attachments[]" accept="image/*, application/pdf" id="upload" multiple/>
                                      <label class="profileButton-button ripple-effect" for="upload">e. g. Hình ảnh (định dạng JPG, PNG)</label>
                                      <span class="profileButton-file-name"></span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-6">
                              <div class="form-group">
                                  <label>Email</label>
                                  <input type="text" name="name" id="name" class="form-control" placeholder="e. g. “walking in the air”">
                              </div>
                          </div>
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label>Thông tin diễn giải</label>
                                  <textarea name="description" class="form-control" id="description" cols="30" rows="5" placeholder="e. g. “after purchasing you’ll able to get the real product”"></textarea>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                  <label>Họ</label>
                                  <input type="text"  class="form-control" placeholder="Nguyễn">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                              <div class="form-group">
                                  <label>Tên</label>
                                  <input type="text"  class="form-control" placeholder="Văn A">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input type="password"  class="form-control" placeholder="Nguyễn">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label>Ngày sinh</label>
                                <input type="date"  class="form-control" placeholder="Ngày sinh">
                            </div>
                        </div>
                          <div class="col-lg-12 col-md-12">
                              <button type="submit" class="default-btn border-radius-5 with-btn-login">Cập nhật thông tin</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>