<div class="error-area ptb-100">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <img class="image-of-content" src="assets/img/payment-success.jpg" alt="image">
                    <h3>System Messenger: Payment success and processing for course's</h3>
                    <div class="btn-box">
                        <a href="javascript:void(0);" (click)="goToHome()" class="default-btn"><i class="flaticon-history"></i>Go Back Home<span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>