<!-- Register -->
<app-hdnx-loading [show]="isLoading">
    <div class="user-area ptb-100">
        <div class="container">
            <div class="user-all-form">
                <form [formGroup]="registerForm">
                    <div class="form-group">
                        <label>Tài khoản</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label>Tài khoản Email</label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input class="form-control" type="password" formControlName="password">
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input class="form-control" type="text" formControlName="phone">
                    </div>
                    <div class="btn-box">
                        <a href="javascript:void(0)" (click)="registerUser()" class="default-btn with-btn-login">Đăng ký<span></span></a>
                    </div>
                    <div class="sub-title">
                        <span>Hoặc đăng nhập</span>
                    </div>
                    <div class="login-with-account">
                        <ul>
                            <li>
                                <div class="login-social">
                                    <a href="javascript:void(0)" (click)="loginWithFaceBook()">
                                        <i class="bx bxl-facebook-circle"></i>
                                        <span>Đăng nhập với Facebook</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="login-social">
                                    <asl-google-signin-button type='standard' size='large' shape="square" width="400" theme="filled_blue"></asl-google-signin-button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p>Bạn đã có tài khoản? <a routerLink="/dang-nhap">Đăng nhập</a></p>
                </form>
            </div>
        </div>
    </div>
</app-hdnx-loading>

