<!-- Register -->
<div class="user-area ptb-100">
  <div class="container">
      <div class="user-all-form">
          <form>
              <div class="form-group">
                  <label>Tài khoản</label>
                  <input type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label>Tài khoản Email</label>
                  <input type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label>Mật khẩu</label>
                  <input class="form-control" type="password">
              </div>
              <div class="btn-box">
                <a
                    routerLink="/chi-tiet-khoa-hoc"
                    class="default-btn with-btn-login"
                    >Đăng ký<span></span
                ></a>
            </div>
              <div class="sub-title">
                  <span>Hoặc</span>
              </div>
              <div class="login-with-account">
                  <ul>
                      <li>
                          <a href="https://www.facebook.com/" target="_blank">
                            <i class="bx bxl-facebook-circle"></i>
                            Đăng nhập với Facebook
                          </a>
                      </li>
                      <li>
                          <a href="https://www.google.com/" target="_blank">
                            <i class="bx bxl-google"></i>
                            Đăng nhập với Google
                          </a>
                      </li>
                  </ul>
              </div>
              <p>Bạn đã có tài khoản? <a routerLink="/dang-nhap">Đăng nhập</a></p>
          </form>
      </div>
  </div>
</div>