<div class="error-area ptb-100">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="error-content">
                  <img src="assets/img/error.png" alt="image">
                  <h3>Error : Register Error</h3>
                  <p>The system failed to register your account information. Please contact the administrator for assistance</p>
                  <div class="btn-box">
                      <a routerLink="/" class="default-btn"><i class="flaticon-history"></i>Come Back<span></span></a>
                      <a routerLink="/" class="default-btn"><i class="flaticon-home"></i>Home<span></span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>