<div class="error-area ptb-100">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="error-content">
                  <img src="assets/img/error.png" alt="image">
                  <h3>Lỗi : Đăng ký không thành công</h3>
                  <p>Hệ thông ghi nhận thông tin tài khoản đăng ký không thành công, vui lòng liên hệ với admin để hỗ trợ</p>
                  <div class="btn-box">
                      <a routerLink="/" class="default-btn"><i class="flaticon-history"></i>Quay lại<span></span></a>
                      <a routerLink="/" class="default-btn"><i class="flaticon-home"></i>Trang chủ<span></span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>