<div class="container">
    <div class="premium-access-content">
        <span class="sub-title">Chứng nhận khoá học</span>
        <h2>Nhận chứng chỉ kỹ năng chất lượng của bạn thông qua bài kiểm tra trực tuyến</h2>
        <p>Giá cả thân thiện với sinh viên cho các chương trình chứng chỉ giúp các cá nhân có được chứng chỉ kỹ năng dễ dàng hơn bao giờ hết!</p>
        <a routerLink="/membership-levels" class="default-btn"><i class="flaticon-user"></i>Bắt đầu ngay<span></span></a>
    </div>
</div>