<div
    class="funfacts-and-feedback-area ptb-100"
    *ngFor="let Image of bgImage;"
    style="background-image: url({{Image.img}});"
    [ngClass]="{'d-none': router.url === '/online-art'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="feedback-content">
                    <span class="sub-title">Vinh danh học viên khoá học</span>
                    <h2>Ai là người chăm chỉ nhất trong tuần này!</h2>
                    <p>Chào mừng bạn đến với phần Vinh Danh Học Viên chăm chỉ nhất tuần của chúng tôi?. Trong tuần này, chúng ta sẽ tôn vinh ba học viên xuất xắc nhất, những người đã đặt công sức và đam mê của mình vào những bài học, chắc chắn họ sẽ thành công trong tương lai!</p>
                    <div class="feedback-slides">
                        <owl-carousel-o [options]="feedbackSlides">
                            <ng-template carouselSlide>
                                <div class="single-feedback-item">
                                    <p>Chăm chỉ hạng nhất.</p>
                                    <div class="client-info d-flex align-items-center">
                                        <img src="https://angular.envytheme.com/odemy-ng/assets/img/user1.jpg" class="rounded-circle" alt="image">
                                        <div class="title">
                                            <h3>John Smith</h3>
                                            <span>Python Developer</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="single-feedback-item">
                                    <p>Chăm chỉ hạng nhì.</p>
                                    <div class="client-info d-flex align-items-center">
                                        <img src="https://angular.envytheme.com/odemy-ng/assets/img/user2.jpg" class="rounded-circle" alt="image">
                                        <div class="title">
                                            <h3>Sarah Taylor</h3>
                                            <span>PHP Developer</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="single-feedback-item">
                                    <p>Chăm chỉ hạng ba.</p>
                                    <div class="client-info d-flex align-items-center">
                                        <img src="https://angular.envytheme.com/odemy-ng/assets/img/user1.jpg" class="rounded-circle" alt="image">
                                        <div class="title">
                                            <h3>David Warner</h3>
                                            <span>QA Developer</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                    <div class="feedback-info">
                        <p>Chưa phải là thành viên?​ <a routerLink="/dang-ky">Đăng ký</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="funfacts-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-funfacts-box">
                                <h3><span [countUp]="1926">00</span></h3>
                                <p>Khoá học hoàn thành</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-funfacts-box">
                                <h3><span [countUp]="3279">00</span></h3>
                                <p>Tài khoản hoạt động</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-funfacts-box">
                                <h3><span [countUp]="250">00</span></h3>
                                <p>Tài khoản online</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="single-funfacts-box">
                                <h3><span [countUp]="100">00</span>%</h3>
                                <p>Đánh giá hài lòng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <app-video></app-video>
            </div>
        </div>
    </div>
    <div class="shape2"><img src="https://angular.envytheme.com/odemy-ng/assets/img/shape2.png" alt="image"></div>
    <div class="shape3"><img src="https://angular.envytheme.com/odemy-ng/assets/img/shape3.png" alt="image"></div>
    <div class="shape4"><img src="https://angular.envytheme.com/odemy-ng/assets/img/shape4.png" alt="image"></div>
    <div class="shape9"><img src="https://angular.envytheme.com/odemy-ng/assets/img/shape8.svg" alt="image"></div>
</div>

<!-- This section for Online Art Demo -->
<div
    class="oa-funfacts-and-feedback-area ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/online-art'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="oa-funfacts-box">
                    <h3><span [countUp]="3279">00</span></h3>
                    <p>ENROLLED LEARNERS</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="oa-funfacts-box">
                    <h3><span [countUp]="250">00</span></h3>
                    <p>ONLINE INSTRUCTORS</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="oa-funfacts-box">
                    <h3><span [countUp]="1926">00</span></h3>
                    <p>FINISHED SESIONS</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="oa-funfacts-box">
                    <h3><span [countUp]="100">00</span>%</h3>
                    <p>SATISFACTION RATE</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center oa-feedback-area">
            <div class="col-lg-7 col-md-12">
                <div class="oa-feedback-slides">
                    <owl-carousel-o [options]="oaFeedbackSlides">
                        <ng-template carouselSlide>
                            <div class="oa-single-feedback-item">
                                <div class="client-info d-flex align-items-center">
                                    <img src="https://angular.envytheme.com/odemy-ng/assets/img/user/user1.jpg" class="rounded-circle" alt="image">
                                    <div class="title">
                                        <h3>John Smith</h3>
                                        <span>Python Developer</span>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse ultrices gravida risus commodo viverra maecenas accumsan lacus vel facilisis lorem ipsum dolor sit amet</p>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="oa-single-feedback-item">
                                <div class="client-info d-flex align-items-center">
                                    <img src="https://angular.envytheme.com/odemy-ng/assets/img/user/user2.jpg" class="rounded-circle" alt="image">
                                    <div class="title">
                                        <h3>James Andy</h3>
                                        <span>Project Management Expert</span>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse ultrices gravida risus commodo viverra maecenas accumsan lacus vel facilisis lorem ipsum dolor sit amet</p>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="oa-single-feedback-item">
                                <div class="client-info d-flex align-items-center">
                                    <img src="https://angular.envytheme.com/odemy-ng/assets/img/user/user3.jpg" class="rounded-circle" alt="image">
                                    <div class="title">
                                        <h3>Lina Ninja</h3>
                                        <span>Illustrator Expert</span>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse ultrices gravida risus commodo viverra maecenas accumsan lacus vel facilisis lorem ipsum dolor sit amet</p>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="oa-feedback-image">
                    <img src="https://angular.envytheme.com/odemy-ng/assets/img/online-art/feedback.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="oa-funfacts-and-feedback-arrow-shape">
        <img src="https://angular.envytheme.com/odemy-ng/assets/img/online-art/arrow-shape.png" alt="image">
    </div>
</div>