.single-advisor-box {
    background-color: var(--whiteColor);
    margin-bottom: 30px;

    .row {
        margin: {
            left: 0;
            right: 0;
        };
        .col-lg-4, .col-lg-8 {
            padding: {
                left: 0;
                right: 0;
            };
        }
    }
    .advisor-image {
        text-align: center;
        border-radius: 5px;
        position: relative;
        top: -30px;
        margin-bottom: -30px;

        img {
            border-radius: 5px;
        }
    }
    .advisor-content {
        padding: 25px 30px;

        h3 {
            margin-bottom: 0;
            font: {
                size: 22px;
                weight: 800;
            };
        }
        .sub-title {
            display: block;
            color: var(--mainColor);
            margin-top: 7px;
            font: {
                size: 15px;
                weight: 600;
            };
        }
        p {
            margin: {
                bottom: 0;
                top: 13px;
            };
        }
        .social-link {
            padding-left: 0;
            list-style-type: none;
            margin: {
                top: 17px;
                bottom: 0;
            };
            li {
                display: inline-block;
                margin-right: 3px;
    
                &:last-child {
                    margin-right: 0;
                }
                a {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background-color: #e1e1e1;
                    font-size: 18px;
                    color: var(--blackColor);
                    position: relative;
                    border-radius: 2px;
    
                    i {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        right: 0;
                        transform: translateY(-48%);
                    }
                    &:hover {
                        background-color: var(--mainColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }
}
.single-advisor-item {
    margin-bottom: 30px;
    border-radius: 5px 5px 0 0;
    background-color: var(--whiteColor);
    box-shadow: 0px 8px 16px 0px rgba(146, 184, 255, 0.1);
    text-align: center;

    .advisor-image {
        border-radius: 5px 5px 0 0;
        position: relative;

        img {
            border-radius: 5px 5px 0 0;
        }
        .social-link {
            padding-left: 0;
            list-style-type: none;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 15px;
            margin: {
                left: auto;
                right: auto;
                bottom: 0;
            };
            li {
                display: inline-block;
                transform: translateY(30px);
                transition: all 0.3s ease-in-out 0s;
                opacity: 0;
                visibility: hidden;
                margin: {
                    left: 3px;
                    right: 3px;
                };
                a {
                    display: block;
                    width: 33px;
                    height: 33px;
                    background-color: var(--whiteColor);
                    text-align: center;
                    position: relative;
                    font-size: 20px;
                    color: var(--blackColor);
                    border-radius: 2px;
                    transition: var(--transition);
    
                    i {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        margin: {
                            left: auto;
                            right: auto;
                        };
                    }
                    &:hover {
                        color: var(--whiteColor);
                        background-color: var(--mainColor);
                    }
                }
                &:nth-child(1) {
                    transition-delay: 0.1s;
                }
                &:nth-child(2) {
                    transition-delay: 0.2s;
                }
                &:nth-child(3) {
                    transition-delay: 0.3s;
                }
                &:nth-child(4) {
                    transition-delay: 0.4s;
                }
            }
        }
    }
    .advisor-content {
        padding: 22px;

        h3 {
            margin-bottom: 0;
            font: {
                size: 23px;
                weight: 800;
            };
        }
        span {
            display: block;
            color: var(--mainColor);
            margin-top: 7px;
            font: {
                size: 15px;
                weight: 600;
            };
        }
    }
    &:hover {
        .advisor-image {
            .social-link {
                li {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .single-advisor-box {
        .advisor-image {
            top: 0;
            margin-bottom: 0;

            img {
                width: 100%;
                display: inline-block !important;
            }
        }
        .advisor-content {
            padding: 25px 20px;

            h3 {
                font-size: 18px;
            }
            .sub-title {
                font-size: 13.5px;
            }
        }
    }
    .single-advisor-item {
        .advisor-image {
            .social-link {
                bottom: 10px;

                li {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .advisor-content {
            h3 {
                font-size: 19px;
            }
            span {
                font-size: 13.5px;
            }
        }
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-advisor-box {
        .advisor-content {
            h3 {
                font-size: 19px;
            }
            .sub-title {
                font-size: 14px;
            }
        }
    }
    .single-advisor-item {
        .advisor-content {
            h3 {
                font-size: 19px;
            }
            span {
                font-size: 14px;
            }
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-advisor-box {
        .advisor-content {
            p {
                display: none;
            }
        }
    }

}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}